.idea
*.iml
*/*.iml
*.ipr
*/*.ipr
*.iws
*/*.iws
*/*.log
*/target/
*.DS_Store
.DS_Store
/.DS_Store
*.project
*/*.iml
*/.factorypath
/logs
lxcfs-webhook
*/logs/
data/
*/package-lock.json
#go.mod
#go.sum
